.modal{
  background-color: rgba(255, 255, 255, 0.94);
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-out;

  &__inner{
    position: absolute;
    width:100%;
    top:40%;
    transform: translateY(-50%);
  }

  &__close{
    position: absolute;
    top: 15px;
    right:15px;
    font-size: 2rem;
    transform:scaleX(1.2);
    transform-origin: 100% 0;
    color: $mainBlue;
    cursor: pointer;

    &:hover{
      color: $mainOrange;
    }
  }

  &--is-visible{
    opacity: 1;
    visibility: visible;
    transform:scale(1);
  }
}
